body {
    font-family: sans-serif;
}


.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    height: 50px;
    align-items: center;
}
ul {
    display: flex;
    gap: 18px;
    list-style: none;
}
a {
    text-decoration: none;
    
}

.links {
    margin-right: 100px;
    text-align: center;
}

h3.text1 {
    color: #E5E7EB;
    margin-left: 150px;
    font-weight: bold;
}

.one >a {
    color: gray;
    font-size: 16px;
}

.second {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    color: #E5E7EB;
}
.text {
    margin-left: 150px;
}
.image {
    margin-right: 300px;
    border-width: 0.2px;
    border-style: solid;
    border-color: gray;
    height: 160px;
    width: 450px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
}

.text h4 {
    font-size: 48px;
}


